.smartphoneAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Abstand zwischen Bild und Text */
    flex-wrap: wrap;
    margin-top: 100px;
    animation: fade-in 1.5s ease-in-out;
}
.imageSmartphone {
    max-width: 600px;
}

.imageSmartphone img {
    max-width: 100%;
    height: auto;
    display: block;
    animation: zoom-in 2s ease-out; /* Bild zoomt leicht ein */
}

/* Textbereich */
.introText {
    max-width: 1000px;
    text-align: right;
    margin-bottom: 100px;
    animation: slide-in-right 1.5s ease-out; /* Text gleitet von rechts ein */
}

.introText h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: white;
    animation: fade-in 2s ease-in-out;
}

.introText p {
    font-size: 1.2em;
    color: #aaa;
    animation: fade-in 2.5s ease-in-out;
}

h1 {
    font-size: 3em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.rounded-button {
    margin-top: 20px;
    display: inline-block;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 50px;
    background-color: white;
    transition: all 0.3s ease, box-shadow 0.3s ease;
    animation: bounce-in 2s ease-out; 
}

.rounded-button:hover {
    background-color: white;
    color: #1e1e1e;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
    .smartphoneAndText {
       padding: 20px;
       gap: 0px;
       margin-top: 10px;


    }
    .introText {
        margin-bottom: 10px;
        animation: slide-in-left 1.5s ease-out;
    }
    .imageSmartphone {
        margin-top: 10px;
       display: flex;
       justify-content: center;
       transform: scale(1);
       padding-left: 0px;

       margin-left: 0px;
    }
    
    .imageSmartphone img {
        max-width: 50%;

    }
}