/*1920 x 1080 */
.smartphoneAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
    animation: fade-in 1.5s ease-in-out;
}
h1 {
    font-size: 3em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.introText {
    margin-bottom: 100px;
    animation: slide-in-left 1.5s ease-out;
}
.introText h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: white;
    animation: slide-in-left 1.5s ease-out;
}
.introText p {
    max-width: 900px;
    font-size: 1.2em;
    color: #aaa;
    animation: fade-in 2s ease-in-out;
}
.rounded-button {
    margin-top: 20px;
    display: inline-block;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 50px;
    background-color: transparent;
    transition: all 0.3s ease, box-shadow 0.3s ease;
    animation: bounce-in 2s ease-out; /* Springt leicht ein */
}

.rounded-button:hover {
    background-color: white;
    color: #1e1e1e;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.imageSmartphone {
    margin-top: 100px;
    transform: scale(1.5);
    padding-left: 100px;
    animation: slide-in-right 2s ease-out; /* Bild gleitet von rechts ein */
}

.imageSmartphone img {
    max-width: 100%;
    height: auto;
    display: block;
    transform-origin: center;
    animation: zoom-in 2.5s ease-out; /* Bild zoomt leicht ein */
}

@media (min-width: 1920px) {
   
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

